* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    color: #000;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  a:hover {
    scale: 1.1;
    opacity: 0.8;
  }
  
  header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
  }